[user]
    name = Shane Holloman
    email = shaneholloman@gmail.com
[core]
    editor = vim
    excludesfile = /Users/shaneholloman/.gitignore_global
[color]
    ui = true
[pull]
    rebase = true
[init]
    defaultBranch = main
